<!-- Navbar -->
<nav class="navbar navbar-expand-lg bg-dark navbar-light">
  <!-- Container wrapper -->
  <div class="container-fluid btn-group dropstart">
    <!-- Toggle button -->
    <button
      class="navbar-toggler"
      type="button"
      data-mdb-toggle="collapse"
      data-mdb-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <i class="fas fa-bars"></i>
    </button>

    <!-- Collapsible wrapper -->
    <div class="collapse navbar-collapse ps-5" id="navbarSupportedContent">
      <!-- Navbar brand -->
      <a class="navbar-brand mt-2 mt-lg-0" href="#">
        <img
          src="../../../assets/logo-1.png"
          height="50"
          alt="MDB Logo"
          loading="lazy"
        />
      </a>
      <h1 class="text-light">Epic Games</h1>
    </div>
    <!-- Collapsible wrapper -->

    <!-- Right elements -->
    <div class="d-flex align-items-center me-5">
      <!-- Avatar -->
      <a (click)="logout()" class="btn btn-danger">LOG OUT</a>
    </div>
    <!-- Right elements -->
  </div>
  <!-- Container wrapper -->
</nav>
<!-- Navbar -->
