<app-navbar></app-navbar>

<div class="align-items-center  bg-secondary">
  <div class=" container">
    <div class="row">
      <div
        class="col-lg-12 col-md-12 sm-3 align-items-center mt-5 justify-content-between"
      >
        <div class="d-flex justify-content-between">
          <div class="card mt-5" style="width: 18rem">
            <img
              src="https://media0.giphy.com/media/3o7aD2DlqnVwKRab4s/giphy.gif"
              class="card-img-top"
              alt="..."
            />
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">
                Some quick example text to build on the card title and make up
                the bulk of the card's content.
              </p>
            </div>
          </div>
          <div class="card mt-5" style="width: 18rem">
            <img
              src="https://media.tenor.com/SrDM40DSVscAAAAd/pes-pes2020.gif"
              class="card-img-top"
              alt="..."
            />
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">
                Some quick example text to build on the card title and make up
                the bulk of the card's content.
              </p>
            </div>
          </div>
          <div class="card mt-5" style="width: 18rem">
            <img
              src="https://cutewallpaper.org/28/cool-halo-wallpaper-gif-hd/magnolia-moon-%E2%80%94-halo-infinite-multiplayer-season-one-cinematic.gif"
              class="card-img-top"
              alt="..."
            />
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">
                Some quick example text to build on the card title and make up
                the bulk of the card's content.
              </p>
            </div>
          </div>
        </div>
        <div class="d-flex justify-content-between">
          <div class="card mt-5" style="width: 18rem">
            <img
            src="https://media.giphy.com/media/2wgWoIZm4AKxaUmq6R/giphy.gif"
              class="card-img-top"
              alt="..."
            />
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">
                Some quick example text to build on the card title and make up
                the bulk of the card's content.
              </p>
            </div>
          </div>
          <div class="card mt-5" style="width: 18rem">
            <img
              src="https://media.tenor.com/veDplnMHjOkAAAAd/astral-chain-platinum-games.gif"
              class="card-img-top"
              alt="..."
            />
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">
                Some quick example text to build on the card title and make up
                the bulk of the card's content.
              </p>
            </div>
          </div>
          <div class="card mt-5" style="width: 18rem">
            <img
              src="https://media.tenor.com/w0E7oCKTMdEAAAAC/rocket-league-video-game.gif"
              class="card-img-top"
              alt="..."
            />
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">
                Some quick example text to build on the card title and make up
                the bulk of the card's content.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
